<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">جدول معرفی</h1>
                     @if(ViewBag.Message != null)
                    { 
                      <p class="mb-4 alert alert-info text-center">@ViewBag.Message</p>
                    } 
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">جدول معرفی</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>عنوان</th>
                                            <th>توضیحات</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>عنوان</th>
                                            <th>توضیحات</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    @if( ViewBag.Aboutus != null)
                                    {
                                        foreach(var item in  ViewBag.Aboutus)
                                        {
                                        <tr>
                                            <td>@item.Title</td>
                                              <td>@item.Detail</td>
                                             <td>
                                                 <a class= "btn btn-sm btn-warning" href="/admin/AdminAboutUs/gotoupdate/@item.Id">ویرایش</a>
                                             </td>
                                        </tr>
                                        }
                                    }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->